/* переменные */
:root {
    --title-fz: 50px;
    --section-padding: 80px;
}

/* общее */
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.d-row {
    display: flex;
    flex-direction: row;
}

.d-col {
    display: flex;
    flex-direction: column;
}

.minWidth {
    max-width: 1280px;
    margin: 0 auto;
}

.line {
    width: 100px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 10px auto;
}

.titleSection {
    text-align: center;
    font-size: var(--title-fz);
}

.descriptionSection {
    text-align: center;
    font-size: 18px;
}

/* Фиолетовый блок */
.purple {
    background-color: #87519d;
    color: white;
}

.purple__header {
    padding: 40px 0;
}

.purple__header nav {
    margin-left: auto;
}

.purple__header nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin: auto 0;
}

.purple__header nav a:hover {
    background-color: #673a7b;
}

.purple__header-logo {
    font-size: 30px;
    font-weight: 900;
}

.purple__title {
    margin-top: 100px;
    font-size: var(--title-fz);
    text-align: center;
}

.purple__btn {
    background-color: #eb7d4a;
    margin: 20px auto 150px;
    border: none;
    padding: 15px 50px;
    border-radius: 5px;
    cursor: pointer;
}

/* Зелёный блок */
.green {
    background-color: #18c1a4;
    color: white;
    padding: var(--section-padding) 0;
    box-sizing: border-box;
}

.green__description {
    color: whitesmoke;
}

.green__providers {
    margin-top: 80px;
    justify-content: space-between;
}

.green__providers-item {
    width: 20%;
}

.green__providers-item img {
    width: 50%;
    margin: 0 auto 40px;
}

.green__providers-item h3 {
    text-align: center;
    margin-bottom: 10px;
}
.green__providers-item p {
    text-align: center;
    color: whitesmoke;
}

/* Серый блок */
.grey {
    padding: var(--section-padding) 0;
    background-color: #E7F2F8;
}

.grey__peoples {
    justify-content: space-between;
    margin-top: 80px;
}

.grey__circle {
    width: 100%;
    aspect-ratio: 1;
    background-color: #868686;
    border-radius: 50%;
    margin-bottom: 25px;
}

.grey__socials {
    justify-content: center;
    margin-top: 20px;
}

.grey__social {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BCD0DB;
    border-radius: 50%;
    margin: 0 5px;
}

.grey__peoples-item {
    width: 20%;
    text-align: center;
}

.grey__social img {
    width: 60%;
}

.grey__name {
    font-weight: 800;
    font-size: 20px;
}

.grey__status {
    color: #29c6ff;
    margin: 5px 0 20px;
}

/* Белый блок */
.white {
    padding: var(--section-padding) 0;
}

.white__skills {
    margin-top: 100px;
    justify-content: space-between;
}

.white__skills-item {
    width: 20%;
}

.white__circle {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 20px solid #2CB7D8;
    box-sizing: border-box;
    font-size: 50px;
    margin-bottom: 20px;
}

.white__circle_blue {
    border-color: #2CB7D8;
}

.white__circle_pink {
    border-color: #D3457D;
}

.white__circle_green {
    border-color: #0EC2A5;
}

.white__circle_orange {
    border-color: #E7874D;
}

.white__skills-item p {
    text-align: center;
    font-weight: 900;
}

/* Оранжевый блок */
.orange {
    padding: var(--section-padding) 0;
    background-color: #FEDB97;
}

.orange__sort {
    margin-top: 40px;
    justify-content: center;
}

.orange__sort a {
    padding: 5px 15px;
    margin: 0 10px;
    background-color: #EAC984;
    text-decoration: none;
    color: black;
}

.orange__sort a:hover {
    background-color: white;
}

.orange__notebooks {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
}

.orange__notebooks-item {
    width: 40%;
    margin-bottom: 40px;
}

.orange__notebooks-item img {
    width: 100%;
}

.orange__notebooks-item p {
    text-align: center;
    margin-top: 15px;
}

.orange__btn {
    margin: 20px auto 0;
    background-color: #18C1A4;
    padding: 15px 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Розовый блок */
.pink {
    padding: var(--section-padding) 0;
    background-color: #D84782;
    color: white;
}

.pink__clients {
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pink__clients-item {
    width: 40%;
    margin: 30px 0;
}

.pink__clients-circle {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    background-color: #797979;
    border-radius: 50%;
    margin-right: 25px;
}

.pink__clients-item q {
    font-style: italic;
}

.pink__clients-name {
    font-size: 18px;
    margin-top: 15px;
    font-weight: 700;
}

.pink__clients-status {
    font-size: 13px;
    color: rgb(246, 217, 91);
}

/* Синий блок */
.blue {
    padding: var(--section-padding) 0;
    background-color: #3B5399;
    color: white;
}

.blue__minWidth {
    max-width: 830px;
    margin: 0 auto;
}

.blue__form {
    margin-top: 50px;
}

.blue__inputs {
    justify-content: space-between;
}

.blue__inputs input {
    background-color: #273A72;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    color: white;
    width: 45%;
    border-radius: 5px;
}

.blue__textarea {
    background-color: #273A72;
    height: 300px;
    resize: none;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    color: white;
    outline: none;
}

.blue__btn {
    margin: 40px auto 0;
    background-color: #32BBE9;
    border: none;
    padding: 15px 40px;
    color: white;
    cursor: pointer;
}

/* Подвал */
footer {
    background-color: #344B8F;
    padding: 40px 0;
    
}

footer > div {
    justify-content: space-between;
    max-width: 830px;
    margin: 0 auto;
}

footer > div a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

footer > div a:hover {
    color: #2897bc;
}