/* переменные */
:root {
    --title-fz: 50px;
    --section-padding: 80px;
}

/* общее */
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.d-row {
    display: flex;
    flex-direction: row;
}

.d-col {
    display: flex;
    flex-direction: column;
}

.minWidth {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

.line {
    width: 100px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 10px auto;
}

.titleSection {
    text-align: center;
    font-size: var(--title-fz);
}

.descriptionSection {
    text-align: center;
    font-size: 18px;
}

/* Фиолетовый блок */
.purple {
    background-color: #87519d;
    color: white;
}

.purple__header {
    padding: 40px 0;
}

.purple__header nav {
    margin-left: auto;
}

.purple__header nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin: auto 0;
}

.purple__header nav a:hover {
    background-color: #673a7b;
}

.purple__header-logo {
    font-size: 30px;
    font-weight: 900;
}

.purple__title {
    margin-top: 100px;
    font-size: var(--title-fz);
    text-align: center;
}

.purple__btn {
    background-color: #eb7d4a;
    margin: 20px auto 150px;
    border: none;
    padding: 15px 50px;
    border-radius: 5px;
    cursor: pointer;
}

/* Зелёный блок */
.green {
    background-color: #18c1a4;
    color: white;
    padding: var(--section-padding) 0;
    box-sizing: border-box;
}

.green__description {
    color: whitesmoke;
}

.green__providers {
    margin-top: 80px;
    justify-content: space-between;
}

.green__providers-item {
    width: 20%;
}

.green__providers-item img {
    width: 50%;
    margin: 0 auto 40px;
}

.green__providers-item h3 {
    text-align: center;
    margin-bottom: 10px;
}
.green__providers-item p {
    text-align: center;
    color: whitesmoke;
}

/* серый блок */
.grey {
    padding: var(--section-padding) 0;
    background-color: #E7F2F8;
}

.grey__peoples {
    justify-content: space-between;
    margin-top: 80px;
}

.grey__circle {
    width: 100%;
    aspect-ratio: 1;
    background-color: #868686;
    border-radius: 50%;
    margin-bottom: 25px;
}

.grey__socials {
    justify-content: center;
    margin-top: 20px;
}

.grey__social {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BCD0DB;
    border-radius: 50%;
    margin: 0 5px;
}

.grey__peoples-item {
    width: 20%;
    text-align: center;
}

.grey__social img {
    width: 60%;
}

.grey__name {
    font-weight: 800;
    font-size: 20px;
}

.grey__status {
    color: #8BB5C1;
    margin: 5px 0 20px;
}

